[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "==2.2.28"
djangorestframework = "*"
psycopg2-binary = "*"
pyjwt = "*"
django-heroku = "*"

[requires]
python_version = "3.7"
