* {
  user-select: none;
}

html {
  overflow: hidden;
}

.hero {
  text-align: left;
  border-bottom: 5px black solid;
  border-image: linear-gradient(to right, #000 5%, rgba(0,0,0,0) 25%); /* to top - at 50% transparent */
  border-image-slice: 1;
  margin-bottom: 20px;
}

.hero-body {
  padding-left: 0px;
  padding-bottom: 25px;
}

.canvas {
  transition: .5s cubic-bezier(.91,.06,.47,1.05) transform;
  height: 100vh;
}

.canvas .menu  {
  position: absolute;
  display: block;
  width: 40vh;
  transform: translateX(-40vh);
  padding: 80px 50px;
  
}

.menu-label {
  padding-left: 5px;
  flex: 1;
  margin: 10px;
  font: 10px;
}

.menu div {
  font-size: 1em;
  border-top: 3px black solid;
  border-left: 3px black solid;
  border-right: 3px black solid;
  border-image: linear-gradient(to bottom, #000 30%, rgba(0,0,0,0) 75%); /* to top - at 50% transparent */
  border-image-slice: 1;
  width: 100%;
  padding: 5px;
}

.menu-list {
  flex: 1;
}

ul.is-multiple {
  padding: 0px 5px 20vh 5px
}

li {
  text-align: center;
}

.last-options li {
  margin-bottom: 50px;
}

.canvas.show-menu   {
  transform: translateX(40vh);
}

.MIDISounds div {
  position: absolute;
  bottom: 58.83px;
  left: 5px;
  height: 10px;
  width: 10px
}

.main-container {
  display: flex;
  flex-direction: column;
}

.choice-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px 0 60px;
}

.select-scale {
  background-color: rgb(111,145,124);
  color: white
}

.position-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.stringcontainer {
  display: flex;
  flex-direction: column-reverse;
  // padding: 20px;
  // background-image: url('./images/neckimage2.png');
  // background-size: 106%;
  background-position-x: -28px;
  background-repeat: no-repeat;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-container {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  flex: 1;
}

.scale-form {
  display: flex;
  flex-direction: column;
}


.string {
  display: flex;
  flex-direction: row;
}



.key {
  background-color: slategray;
}

.button.is-rounded {
  margin: 0px 10px;
}

.intcontainer {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: center;
  align-items: center;
}

.intbox {
  border: solid 1px black;
  height: 30px;
  width: 30px;
}

// .button:active {
//   background-color: black;
//   color: white;
// }

// .button {
//   background-color: blue;
//   color: white;
// }

.button-position-active, .button-position-active:focus, .button-position-active:active {
  background-color: #91896f;
  color: white;
}

#inttoggle {
  margin-left: 50px;
  background-color: rgb(111,145,124);
  color: white;
}

#inttoggle:active {
  margin-left: 50px;
  background-color: black;
  color: white;
}

.button-position-active:focus {
  color: white;
}

.p1a, .p2a, .p3a, .p4a, .p5a, .p6a, .p7a {
  background-color: rgb(61, 17, 102);
  color: white
}

// .p2 {
//    background-color: blue;
//  }

// .p3 {
//   color: green
// }

.p1p, .p2p, .p3p, .p4p, .p5p, .p6p, .p7p {
  background-color: #912418;
  color: white;
}

// .p5 {
//   color: purple
// }
$scale-width: 3.779527559px;

.fret{
  height: 40px;
  width: $scale-width * 14.5;
  border: solid 3px silver;
  text-align: center;
  line-height: 38px;
  font-weight: bold;
}

.close-button {
  position: absolute;
  top: 10px;
  left: 10px
}


// fret ids


#f1 {
  width: ($scale-width * 36.482);
}

#f2 {
  width: ($scale-width * 34.434);
}

#f3 {
  width: ($scale-width * 32.502);
}

#f4 {
  width: ($scale-width * 30.678);
}

#f5 {
  width: ($scale-width * 28.956);
}

#f6 {
  width: ($scale-width * 27.331);
}

#f7 {
  width: ($scale-width * 25.797);
}

#f8 {
  width: ($scale-width * 24.349);
}

#f9 {
  width: ($scale-width * 22.982);
}

#f10 {
  width: ($scale-width * 21.692);
}

#f11 {
  width: ($scale-width * 20.475);
}

#f12 {
  width: ($scale-width * 19.326);
}

#f13 {
  width: ($scale-width * 18.241);
}

#f14 {
  width: ($scale-width * 17.217);
}

#f15 {
  width: ($scale-width * 16.251);
}

#f16 {
  width: ($scale-width * 15.339);
}

#f17 {
  width: ($scale-width * 14.478);
}

#f18 {
  width: ($scale-width * 13.665);
}

#f19 {
  width: ($scale-width * 12.898);
}

#f20 {
  width: ($scale-width * 12.174);
}

#f21 {
  width: ($scale-width * 11.491);
}

.modal-background {
  height: 100vh;
  width: 100vw;
}

select {
  margin: 0px 5px
}

button {
  margin: 0px 5px;
}

aside {
  border-right: 2px black solid;
  border-image: linear-gradient(to bottom, #000 30%, rgba(0,0,0,0) 95%); /* to top - at 50% transparent */
  border-image-slice: 1;
  height: 100vh;
  padding: 20px 10px 0px 20px;
}

.svg-div {
  text-align: center;
}
// svg {
//   height: 500px;
// }