* {
  user-select: none;
}


.stringcontainer {
  display: flex;
  flex-direction: column-reverse;
}

.string {
  display: flex;
  flex-direction: row;
}

.fret{
  height: 25px;
  width: 50px;
  border: solid 1px black;
}

.key {
  background-color: salmon;
}

.p1a, .p2a, .p3a, .p4a, .p5a, .p6a, .p7a {
  background-color: red;
}

// .p2 {
//    background-color: blue;
//  }

// .p3 {
//   color: green
// }

.p1p, .p2p, .p3p, .p4p, .p5p, .p6p, .p7p {
  background-color: goldenrod
}

// .p5 {
//   color: purple
// }